[color]
	ui = auto

[color "diff"]
	meta = blue
	frag = white
	old = red bold
	new = green bold

[core]
	editor = vim
	hooksPath = ~/.git/myhooks

[user]
	name = Léonard Bise
	email = leonard.bise@gmail.com

[diff]
	tool = meld

[difftool]
	prompt = false

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[merge]
	tool = meld

[mergetool "meld"]
	# $MERGED is the partially merged file with the merge conflict information in it
	# $BASE is the shared commit ancestor of $LOCAL and $REMOTE, this is to say the file as it was when the branch containing $REMOTE was originally created
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[grep]
	extendRegexp = true
	lineNumber = true

[alias]
	a = add
	ua = reset HEAD
	c = commit
	ca = commit --amend
	call = commit -a
	cm = commit -m
	cam = commit -am
	cne = commit --no-edit
	co = checkout
	s = status
	d = diff
	cp = cherry-pick
	l = log --graph --pretty=format:'%C(magenta)%h%C(blue)%d%Creset %s %C(blue bold)- %an, %ad%Creset'
	ll = log --stat --abbrev-commit
	# List my own commits
	my = !git log --branches=* --no-merges --pretty=format:'%C(reset)%C(bold)%cd %C(reset)%C(white)%s  %C(reset)%h' --date=short --author=\"$(git config user.name)\"
	# List of branches ordered by last change
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold)%(refname:short)%(color:reset)\t%(committerdate:relative)'
	# Rebase: add changes and continue
	cont = !git add . && git rebase --continue
	# Rebase: skip a rebase step
	skip = rebase --skip
	# Rebase: abort
	abort = rebase --abort

[log]
	# Show branch names with git log
	decorate = short
[url "ssh://git@gstjira1.ju.geo-satis.com:7999/"]
	insteadof = https://geo-satis.com/golang/
